{% extends 'base.html' %}{% load render_field from widget_tweaks %}
{% block title %}Registrar{% endblock %}

{% block body_class %}hold-transition register-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    <div class="panel panel-info">
      <div class="panel-heading">
        Prencha o campos abaixo para iniciar seu registro
      </div>
      <div class="panel-body">
        <form action="{% url 'account_signup' %}" method="post">{% csrf_token %}
          <div class="form-group has-feedback {% if form.username.errors %}has-error{% endif %}">
            {% render_field form.username class="form-control" placeholder="usuario" autofocus="autofocus" %}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            {% if form.username.errors %}
              <span class="text-danger">{{ form.username.errors.0 }}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback {% if form.email.errors %}has-error{% endif %}">
            {% render_field form.email class="form-control" placeholder="Email" %}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            {% if form.email.errors %}
              <span class="text-danger">{{ form.email.errors.0 }}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback {% if form.password1.errors %}has-error{% endif %}">
            {% render_field form.password1 class="form-control" placeholder="Senha" %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% if form.password1.errors %}
              <span class="text-danger">{{ form.password1.errors.0 }}</span>
            {% endif %}
          </div>
          <div class="form-group has-feedback {% if form.password2.errors %}has-error{% endif %}">
            {% render_field form.password2 class="form-control" placeholder="Confirmar Senha" %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% if form.password2.errors %}
              <span class="text-danger">{{ form.password2.errors.0 }}</span>
            {% endif %}
          </div>
          <div class="clearfix">
            <div class="pull-left">
              <a href="{% url 'account_login' %}" id="id_login_button">Login</a>
            </div>

            <div class="pull-right">
              <button submit type="submit" class="btn btn-primary btn-flat" id="id_register_button"><span class="glyphicon glyphicon-floppy-save"></span> Registrar</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
{% endblock %}
