{% extends 'base.html' %}

{% block title %}Registro Inicializado{% endblock %}
{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    <div class="panel panel-info">
      <div class="panel-heading">
        Registro Inicializado
      </div>
      <div class="panel-body">
        <p>Um email com instruções para completar seu registro foi enviado.</p>
        <hr/>
        <a href="{% url 'account_login' %}">Login</a>
      </div>
    </div>
  </div>
{% endblock body %}
