<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Busca de Composições.</h3>
      </div>

      <div class="box-body">
        <div class="row form-group">
          <div class="col-lg-4">
            <form name="saerchCompositionForm" novalidate>{% csrf_token %}
              <input id="searchComposition" type="text" name="search" ng-model="vm.searchQuery"
                  class="form-control" ng-keyup="vm.searchComposition()"
                  placeholder="Digite para buscar uma composição." required>
            </form>
          </div>
          <form name="exportToExcelForm" action="{% url 'records:export_to_excel' %}" method="post"
              ng-submit="vm.exportToExcel()">{% csrf_token %}
            <input type="hidden" name="query" value="[[ vm.excelQuery ]]" />
            <button class="btn btn-success" type="submit" ng-show="vm.gridOptions.data.length > 0">
              <i class="fa fa-file-excel-o fw"></i> Excel
            </button>
          </form>
        </div>

        <div class="row" cg-busy="vm.searchCompositionPromise">
          <div class="col-lg-12">
            <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns style="padding: 0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="compositionPrice.html">
  <div class="ui-grid-cell-contents">[[ row.entity.price|currency ]]</div>
</script>
